/* Editor Body  */
.editor-body {
    max-height: 0;
    padding: 0 0.625rem;
    position: relative;
    overflow: hidden;
    transition: max-height 375ms ease;
}
.editor-body h3 {
    margin: 0.5rem 0;
}
.editor-body textarea,
.editor-body input[type=text] {
    padding: 0.25rem;
    width: 100%;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #a4a4ad;
    border-radius: 0.25rem;
}
.editor-body textarea:focus,
.editor-body input[type=text]:focus {
    outline: none;
}
.editor-body textarea {
    min-height: 5rem;
    resize: none;
}
.editor-body > button {
    display: inline-block;
    border: none;
    cursor: pointer;
    margin: 1.5rem 0;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: white;
    background-color: black;
    transition: 0.25s ease;
}
.editor-body > button:nth-of-type(2) {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    margin-left: 1rem;
}
.editor-body > button:hover {
    box-shadow: 0 0 0.75rem 1px rgba(0, 0, 0, 0.45);
}