/* Editor Category */
.editor-category {
    padding: 0.2rem 0;
}

/* Editor Category - Category Header */
.category-header {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category-header input[type=text] {
    font-family: 'Poppins', sans-serif; 
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 0.5ch;
    min-width: 25ch;
    width: 30%;
    background-color: white;
    border: 1px solid #a4a4ad;
}
.category-header .modify-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}


/* Editor Category - Header Right */
.header-right {
    display: flex;
    margin-right: 1rem;
}
.header-right input[type=text]:focus {
    outline: none;
}
.header-right button {
    padding: 0 0.25rem;
    background-color: black;
}
.header-right button span {
    color: white;
}
.header-right button:hover span {
    transform: scale(1.25);
}

/* Editor Category - New Command */
.new-command {
    max-height: 0;
    overflow: hidden;
}
.new-command.toggle {
    max-height: none;
}