/* Command - Headers */
.command-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.625rem;
    border-radius: inherit;
    cursor: pointer;
}
.command-header h3 {
    font-weight: 400;
}
.command-header input {
    height: 2rem;
}
.command-header svg {
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    transition: transform ease 0.2s, filter ease 0.2s;
}
.command-header svg path.arrow {
    fill: black;
}

/* Toggle Classes */
.toggled-command .command-header svg {
    transform: rotate(0deg);
}