/* X Button */
.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-button * {
    transition: 0.25s ease;
}

/* For Custom X Icon */
.icon-button div[class*=line] {
    position: absolute;
    top: calc(100% - 2rem);
    left: 50%;
    width: 1.25rem;
    height: 1.5px;
    transform-origin: center;
    background-color: black;
}
.icon-button .cross-line-1 {
    transform: translate(-50%, -50%) rotate(45deg);
}
.icon-button .cross-line-2 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.icon-button:hover .cross-line-1 {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(1.1);
}
.icon-button:hover .cross-line-2 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1.1);
}

/* For Text Based Icons */
.icon-button span {
    height: 100%;
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    transform-origin: center;
}
.icon-button span:hover {
    transform: scale(1.25);
}

/* For SVG Icons */
.icon-button svg {
    width: 100%;
    height: 100%;
}