/* Form Wrapper */
.form-wrapper {
    width: 100%;
}

/* Login Form */
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.login-form input[type=submit] {
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    border-radius: 50rem;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    letter-spacing: 3px;
    transition: 0.25s ease;
}
.login-form input[type=submit]:hover {
    background: black;
    color: white;
}