* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --navbar-height: 4.6875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
html {
    width: 100%;
    overflow-x: hidden;
}