/* Edit Commands Container */
.container-header {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.commands-container .container-header h1 {
  margin-right: auto;
}
.commands-container .container-header > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.commands-container .container-header button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.commands-container .container-header button span {
  font-size: 1rem;
  display: block;
  text-align: center;
}
.commands-container .container-header button span:first-child {
  width: 15px;
  transform-origin: center;
  transition: transform 0.2s ease;
  position: relative;
}
.commands-container .container-header button span:first-child::before {
  content: '';
  height: 2px;
  width: 15px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.commands-container .container-header button span:first-child::after {
  content: '';
  height: 2px;
  width: 15px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}
.commands-container .container-header button span:last-child {
  position: relative;
  transform-origin: right;
  white-space: nowrap;
  max-width: 0;
  transition: max-width 0.75s ease-out;
}
.commands-container .container-header button:hover span:first-child {
  transform: rotateZ(180deg);
}

/* Commands Container - New Category */
.commands-container .new-category {
  max-height: 0;
  overflow: hidden;
}
.commands-container .new-category .editor-category {
  padding: 0;
}
.commands-container .new-category.toggle {
  max-height: none;
}

/* Commands Container - Loading Icon */
.commands-container .loading svg {
  width: 5rem;
  height: 5rem;
}

@media screen and (min-width: 28.75rem) {
  .commands-container .container-header > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .commands-container .container-header button span:last-child {
    position: relative;
    max-width: 0;
    transform-origin: right;
    white-space: nowrap;
    transition: 
      max-width 0.75s ease-out,
  }
  .commands-container .container-header button span:last-child::before {
    content: '\00a0\00a0';
  }
  .commands-container .container-header button:hover span:first-child {
    transform: none;
  }
  .commands-container .container-header button:hover span:last-child {
    max-width: 10rem;
  }
}